body{
	font-family: Open Sans;
    font-size: 15px;
    line-height: 1.5;
	height: 100%;
	margin:0;
	padding:0;
	background-color: #F1F3CE; 
} 
@keyframes animation {
	 from{
	 width: 20%;
	 background: grey;
}
	 to{
     width: 98%;
     background: #CDCDC0;}
}
	header{
	padding:1%; 
	background: #CDCDC0; 
	text-align: center;
	animation-name: animation;
    animation-duration: 4s;

}/* all colors are taken from http://www.99colors.net/name/baby-blue-eyes*/
h1{
	text-shadow: 2px 2px 5px purple;
}
nav{

	border-style: solid; 
	border-color: black;
	background: #426E86;
}
nav ul{
	margin: 8px; 
	 display:flex; 
	 justify-content: space-around; 
	 flex-direction: row;}

	nav ul li{
	list-style: none;
	margin: 0%;
	padding: 0.5%;
	background: #BCBABE;
	font-size: 18px;
	border: 1px solid;

}
nav ul li:hover {
	background-color: grey;
	transition: all .1s ease-in-out;
	font-size: 20px;
	border-radius: 5px;
	}
	nav ul li a{
		color: black;
		text-decoration: none;
	}
.topic{
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
}

section{display:flex; 
	flex-direction: column;
	margin: 5px;
	overflow: auto;
	padding-bottom: 100px;
}
	table, th, td{
		border-style: solid;
		border-color: black;
		border-width: 1px;
		border-spacing: 1px;
		padding: 3px;
	}
 

footer{padding-top: 1px; 
	background-color: #626D71;
	width: 100%;
	position: relative;
	bottom: 0;
	height: 100px;
 	clear: both;

 }
 .buttom{
 	text-align: center;
 }
  @media only screen and (max-width: 600px) {
  		header{
  		animation-name: none;
  	}
nav ul{
	flex-direction: column;
}

}